h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, pre { margin-block-start: 0; margin-block-end: 0; }

blockquote, figure, dd { margin-inline-start: 0; margin-inline-end: 0; }

.type-h1-xxl { font-family: var(--font-heading); font-size: 2.625rem; line-height: 1.1; font-weight: normal; }

.type-h1-xl { font-family: var(--font-heading); font-size: 2.25rem; line-height: 1.1; font-weight: normal; }

.type-h1, .wysiwyg h1 { font-family: var(--font-heading); font-size: 2rem; line-height: 1.1; font-weight: normal; }

.type-h2, .wysiwyg h2 { font-family: var(--font-heading); font-size: 1.75rem; line-height: 1.1; font-weight: normal; }

.type-h3, .wysiwyg h3 { font-family: var(--font-heading); font-size: 1.25rem; line-height: 1.1; font-weight: normal; }

.type-h4, .wysiwyg h4 { font-family: var(--font-heading); font-size: 1rem; line-height: 1.2; font-weight: bold; }

.type-h5, .wysiwyg h5 { font-family: var(--font-heading); font-size: 0.8125rem; line-height: 1.2; font-weight: bold; }

.type-h6, .wysiwyg h6 { font-family: var(--font-heading); font-size: 0.625rem; line-height: 1.2; font-weight: bold; text-transform: uppercase; }

.type-lede, .wysiwyg.with-lede p:first-child { font-size: 1.125rem; line-height: 1.5; }

.type-para, .wysiwyg p, .wysiwyg ul, .wysiwyg ol, .wysiwyg dl, .wysiwyg blockquote { font-size: 1rem; line-height: 1.7; }

.type-small, .wysiwyg small { font-size: 0.875rem; line-height: 1.7; }

.type-ui { font-size: 0.8125rem; line-height: 1.4; }

.type-caption, .wysiwyg figcaption { font-size: 0.625rem; line-height: 1.5; }

@media screen and (min-width: var(--break-md)) { .type-h1-xxl { font-size: 5rem; }
  .type-h1-xl { font-size: 4rem; }
  .type-h1, .wysiwyg h1 { font-size: 3rem; }
  .type-h2, .wysiwyg h2 { font-size: 2rem; }
  .type-h3, .wysiwyg h3 { font-size: 1.5rem; }
  .type-h4, .wysiwyg h4 { font-size: 1.25rem; }
  .type-h5, .wysiwyg h5 { font-size: 1rem; }
  .type-h6, .wysiwyg h6 { font-size: 0.75rem; }
  .type-lede, .wysiwyg.with-lede p:first-child { font-size: 1.5rem; }
  .type-para, .wysiwyg p, .wysiwyg ul, .wysiwyg ol, .wysiwyg dl, .wysiwyg blockquote { font-size: 1.125rem; }
  .type-small, .wysiwyg small { font-size: 1rem; }
  .type-ui { font-size: 0.875rem; }
  .type-caption, .wysiwyg figcaption { font-size: 0.75rem; } }

@media screen and (min-width: var(--break-xl)) { .type-h1-xxl { font-size: 6.25rem; } }

.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6, .wysiwyg p, .wysiwyg ul, .wysiwyg ol, .wysiwyg dl { margin-block-start: 1rem; margin-block-end: 1rem; }

.wysiwyg h1, .wysiwyg h2 { margin-block-start: 2rem; }

.wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 { margin-block-start: 1.5rem; }

.wysiwyg pre, .wysiwyg iframe, .wysiwyg figure, .wysiwyg > img, .wysiwyg blockquote { margin-block-start: 2rem; margin-block-end: 2rem; }

@media screen and (min-width: var(--break-md)) { .wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6, .wysiwyg p, .wysiwyg ul, .wysiwyg ol, .wysiwyg dl { margin-block-start: 1.5rem; margin-block-end: 1.5rem; }
  .wysiwyg h1, .wysiwyg h2 { margin-block-start: 3rem; }
  .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 { margin-block-start: 2rem; }
  .wysiwyg pre, .wysiwyg iframe, .wysiwyg figure, .wysiwyg > img, .wysiwyg blockquote { margin-block-start: 3rem; margin-block-end: 3rem; } }

a, .type-link { color: var(--color-g30); }

a:hover, .type-link:hover { color: var(--color-g40); }

a:active, .type-link:active { color: var(--color-g30); }

code, .type-code { color: var(--color-r30); background-color: var(--color-r80); border-radius: var(--radius-small); font-size: 0.9em; padding: 0.2em 0.3em 0.3em; }

kbd, .type-kbd { position: relative; font-size: 0.9em; color: var(--color-n20); background-color: var(--color-n70); border-radius: var(--radius-small); padding: 0.2em 0.3em 0.3em; border: 1px solid var(--color-n40); box-shadow: 0 0.15em 0 0 var(--color-n40); }

.wysiwyg > img { display: block; max-width: 100%; height: auto; }

a.is-stealth, a.no-underline:not(:hover):not(:active):not(:focus) { text-decoration: none; }

a.is-stealth { color: inherit; }

/*# sourceMappingURL=typebeast.css.map */