.type-h1-xxl {
  @include type-h1-xxl-default;
}

.type-h1-xl {
  @include type-h1-xl-default;
}

.type-h1,
.wysiwyg h1 {
  @include type-h1-default;
}

.type-h2,
.wysiwyg h2 {
  @include type-h2-default;
}

.type-h3,
.wysiwyg h3 {
  @include type-h3-default;
}

.type-h4,
.wysiwyg h4 {
  @include type-h4-default;
}

.type-h5,
.wysiwyg h5 {
  @include type-h5-default;
}

.type-h6,
.wysiwyg h6 {
  @include type-h6-default;
}

.type-lede,
.wysiwyg.with-lede p:first-child {
  @include type-lede-default;
}

.type-para,
.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg dl,
.wysiwyg blockquote {
  @include type-para-default;
}

.type-small,
.wysiwyg small {
  @include type-small-default;
}

.type-ui {
  @include type-ui-default;
}

.type-caption,
.wysiwyg figcaption {
  @include type-caption-default;
}

@media screen and (min-width: 768px) {
  .type-h1-xxl {
    @include type-h1-xxl-large;
  }

  .type-h1-xl {
    @include type-h1-xl-large;
  }

  .type-h1,
  .wysiwyg h1 {
    @include type-h1-large;
  }

  .type-h2,
  .wysiwyg h2 {
    @include type-h2-large;
  }

  .type-h3,
  .wysiwyg h3 {
    @include type-h3-large;
  }

  .type-h4,
  .wysiwyg h4 {
    @include type-h4-large;
  }

  .type-h5,
  .wysiwyg h5 {
    @include type-h5-large;
  }

  .type-h6,
  .wysiwyg h6 {
    @include type-h6-large;
  }

  .type-lede,
  .wysiwyg.with-lede p:first-child {
    @include type-lede-large;
  }

  .type-para,
  .wysiwyg p,
  .wysiwyg ul,
  .wysiwyg ol,
  .wysiwyg dl,
  .wysiwyg blockquote {
    @include type-para-large;
  }

  .type-small,
  .wysiwyg small {
    @include type-small-large;
  }

  .type-ui {
    @include type-ui-large;
  }

  .type-caption,
  .wysiwyg figcaption {
    @include type-caption-large;
  }
}

@media screen and (min-width: 1280px) {
  .type-h1-xxl {
    @include type-h1-xxl-xlarge;
  }
}
