// Link
// ---------------------------------------------------------
a,
.type-link {
  @include typebeast-link-style(
    $color: var(--color-g40),
    $hover: var(--color-g30),
    $active: var(--color-g20),
    $visited: var(--color-g20),
    $style: null
  );
}
