@import "../public/skeletor/sass/skeletor.core";

.button {
  // boz-sizing
  position: relative;
  display: inline-block;
  min-width: var(--space-2x);
  padding: 14px var(--space-3x) 16px;
  border-radius: var(--radius-small);
  letter-spacing: 0.025em;
  border: none;
  // theme styles
  color: var(--color-n80);
  background-color: var(--color-g30);
  font-weight: bold;
  // content styles
  text-align: center;
  text-decoration: none;
  line-height: var(--line-compact);
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 0 0 transparent;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px color(g40, 0.3);
  }
  &:hover,
  &:active {
    color: var(--color-n80);
  }
  &:hover {
    background-color: var(--color-g40);
  }
  &:active {
    background-color: var(--color-g20);
  }
  &[disabled] {
    color: var(--color-n20);
    background-color: var(--color-n50);
  }

  &.fill {
    width: 100%;
  }
}
