@import "../../public/skeletor/sass/skeletor.core";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-4x);
  grid-template-areas:
    "description"
    "chart";

  &__description {
    grid-area: description;
  }
  &__chart {
    grid-area: chart;
  }
}

@include min-width(breakpoint(lg)) {
  .grid {
    grid-template-columns: minmax(auto, 1fr) 1fr;
    grid-template-areas: "description chart";
  }
}

@include min-width(breakpoint(lg)) {
  .grid {
    grid-template-columns: minmax(auto, 1fr) 2fr;
  }
}
