// base mixin
//----------------------------------

@mixin typebeast-break-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin typebeast-break-max($size) {
  // prevent min and max width overlap pixel
  @media screen and (max-width: ($size - 1)) {
    @content;
  }
}

@mixin typebeast(
  $family: null,
  $letter: null,
  $line: null,
  $size: null,
  $style: null,
  $transform: null,
  $weight: null
) {
  font-family: $family;
  @if typebeast-setting('calculate-rem-size') {
    @if $size {
      font-size: typebeast-to-rem($size);
    }
    @if $size and $line {
      line-height: ($line / $size);
    }
  } @else {
    font-size: $size;
    line-height: $line;
  }
  font-weight: $weight;
  font-style: $style;
  letter-spacing: $letter;
  text-transform: $transform;
}
