@import '../../public/skeletor/sass/skeletor.core';

.layout {
  --sidebar-width: 224px;

  &__skip {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-g90);
    color: var(--color-n10);
    padding: var(--space-2x) var(--space-3x);
    z-index: var(--layer-over);
    font-weight: var(--weight-bold);
  }

  &__content {
    // CSS is awesome. Finesse CSS into capturing top margin
    // of content's children
    padding-top: 1px;
    margin-top: -1px;
  }

  @include min-width(breakpoint(lg)) {
    padding-left: var(--sidebar-width);

    &__navigation {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: var(--sidebar-width);
    }
  }
}
